* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 115px;
}
ul {
    list-style: none;
    display: flex;
    gap: 24px;
}
.navlink {
    text-decoration: none;
    color: #575757;
}
li {
    color: #575757;
}
button{
    background: #1D4ED8;
    color: white;
    padding: 12px 42px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
}
.hero-sec {
    background-image: url("./assets/banner.jpg");
    background: linear-gradient(0.3,0.7,4.1,8.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
p {
color: white;
text-align: center;
   }
   .hero-heading {
    color: white;
    text-align: center;
    font-size: 64px;
   }
   .hero-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
   }
   .hero-main-wrap {
    width:  600px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    gap: 100px;
   }
   .hero-btn-wrap {
     display: flex;
     justify-content: center;
   }
   .cmn-heading {
    font-size: 48px;
    color: #000102;
   }
   .card-sec {
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 130px;
   }
.card-wrap {
    display: grid;
    grid-template-columns: 2,1fr;
    gap: 32px;
}
.card {
    border: solid 1px;
    border-color: #E5E7EB;
}