* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 115px;
}
.nav-link-wrap {
    list-style: none;
    display: flex;
    gap: 24px;
}
.navlink {
    text-decoration: none;
    color: #575757;
}
li {
    color: #575757;
}
.primary-btn{
    background: #1D4ED8;
    color: white;
    padding: 12px 42px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
}
.hero-sec {
    background-image: url("./assets/banner.jpg");
    background: linear-gradient(0.3,0.7,4.1,8.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.hero-text {
color: white;
text-align: center;
line-height: 24px;
   }
   .hero-heading {
    color: white;
    text-align: center;
    font-size: 64px;
   }
   .hero-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
   }
   .hero-main-wrap {
    width:  600px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    gap: 100px;
   }
   .hero-btn-wrap {
     display: flex;
     justify-content: center;
   }
   .cmn-heading {
    font-size: 48px;
    color: #000102;
   }
   .card-sec {
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-left: 115px;
    padding-right: 115px;
    padding-bottom: 130px;
   }
.card-wrap {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 64px;
}
.card {
    border: solid 1px;
    border-color: #E5E7EB;
    border-radius: 12px;
    overflow: hidden;
}
.card-data {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 10px;
}
.btm-name {
    color: #575757;
    font-size: 14px;
}
.top-name {
    color: #2563EB;
    font-size: 14px;
}
.name {
    font-weight: bold;
    font-size: 20px;
}
.pricing-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 196px 130px 196px;
    gap: 48px;
}
.pricing-h-t-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.text-c-1 {
    color: #575757;
}
.prc-card-wrap {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.prc-card-reg {
    padding: 32px;
    border: solid 1px;
    border-color: #E5E7EB;
    border-radius: 12px;
    min-width: 300px;
}
.prc-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom:solid 1px;
    border-color: #E5E7EB;
}
.card-type {
    color: #888888;
    text-transform: uppercase;
}
.price {
    color: #0D1B2A;
    font-size: 52px;
}
.prc-btm-p {
    color: #888888;
}
.list-main-wrap{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
}
.prc-list-item { 
margin-bottom: 10px;
}
li::marker {
    color: #2563EB;
}
.pcr-btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondary-btn {
background-color: white;
color: #2563EB;
padding: 12px 24px;
border: solid 1px;
border-radius: 8px;
border-color: #2563EB;
font-weight: bold;
display: inline;
width: 100%;
}
.secondary-btn-two {
    background-color: white;
    color:#0D1B2A;
    padding: 12px 24px;
    border: solid 1px;
    border-radius: 8px;
    border-color: #0D1B2A;
    font-weight: bold;
    display: inline;
    width: 100%;
}
.secondary-btn-3 {
    background-color: #2563EB;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    display: inline;
    width: 100%;
}
.prc-list-item-2 {
    margin-bottom: 10px;
    color: white;
}
.prc-card-special {
    background-color: #0D1B2A;
    padding: 32px;
    border-radius: 12px;
    min-width: 300px;
}
.price-special {
    color: white;
    font-size: 52px;
}
.card-type-special {
    color: #93C5FD;
    text-transform: uppercase;
}
.last-sec {
    background-color: #0D1B2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 130px;
    gap: 64px;
}
.last-sec-t-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.last-sec-h1 {
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
}
.last-sec-txt {
    text-align: center;
    font-size: 16px;
    color: #888888;
    line-height: 24px;
}
.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    padding: 0;
    margin: 0;
}
.field {
    width: 320px;
    height: 36px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 8px;
}
.sub-btn {
    background-color: #2563EB;
    border: none ;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 36px;
    color: white;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 80px 130px 20px 130px;
    gap: 36px;
}
.social-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}
.icons {
    width: 36px;
}
.footer-links-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 36px;
}
.footer-link {
    color: #474747;
}
.btm-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.p-t-wrap {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.right-wrap {
    color: #606060;
}
.p-t-text {
    color: #606060;
}